// @media screen and (min-width: 1200px){
	
// }

@media screen and (min-width: 992px) and (max-width: 1199px){
	.header-menu{
		padding: 0;
	}

	.header-wrap{
		width: 65%;
	}

	.about-header{
		width: 12%;
	}

	.slick-slider{
		width: 90%;
		margin: 0 auto;
	}

	.latest-header{
		width: 17%;
	}

	.latest-header-menu{
		padding-left: 0;
	}
	
	.touch{
		.touch-header{
			width: 55%;
		}
		.touch-btn{
			width: 20.42%;
		}
	}

	.blog{
		.blog-header{
			width: 25%;
		}

		.blog-item{
			.blog-item-head{
				margin-top: 8px;
			}
			.blog-item-text{
				width: 46%;
				margin-top: 30px;
			}
		}
	}

	.get{
		.get-header{
			width: 16%;
		}
	}

	.footer{
		.footer-contact{
			width: 20%;
		}
		.footer-text{
			width: 39%;
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 991px){
	.header-menu{
		padding: 0;
		width: 75%;
		.header-menu-item{
			margin-right: 5%;			
			&:last-child{
				margin-right: 0;
			}
			.header-menu-link{
				font-size: 15px;
			}
		}
	}

	.header-wrap{
		width: 81%;
		.header-title{
			margin-top: 185px;
		}
		.header-btn{
			margin-bottom: 100px;
		}
	}
	
	.services{
		.services-header{
			width: 15.5%;
		}
	}
	
	.about{
		.about-header{
			width: 15%;
		}
		.about-item{
			margin-bottom: 100px;
		}
		.slick-slider{
			width: 77%;
			margin: 0 auto;
			margin-bottom: 60px;
		}	
	}
	
	.latest{
		.latest-header{
			width: 22%;
		}
		.latest-header-menu{
			width: 55.15%;
			padding-left: 0;
		}
		.latest-gallery-item{
			margin-right: 2.21%;
			&:nth-child(3n){
				margin-right: 0;
			}
		}
	}
	
	
	.touch{
		.touch-header{
			width: 67%;
		}
		.touch-btn{
			width: 24.86%;
		}
	}

	.blog{
		display: none;		
	}

	.get{
		.get-header{
			width: 21%;
		}
	}

	.footer{
		.footer-contact{
			width: 26%;
		}
		.footer-text{
			width: 51%;
		}
	}
}

@media screen and (max-width: 768px){
	.header-logo{
		width: 100%;
		text-align: center;
		margin-top: 25px;
		font-size: 32px;
	}

	.header-menu{
		padding: 0;
		width: 100%;
		text-align: center;
		margin-top: 30px;
		.header-menu-item{
			width: 100%;			
			&:last-child{
				margin-right: 0;
			}
			.header-menu-link{
				font-size: 24px;
				line-height: 34px;
			}
		}
	}

	.header-wrap{
		width: 100%;
		.header-title{
			margin-top: 360px;
		}
		.header-btn{
			margin-bottom: 100px;
			width: 70%;
			font-size: 19px;
		}
	}
	
	.services{
		.services-header{
			width: 100%;
			margin-top: 60px;
		}
		.services-item{
			margin-bottom: 45px;
		}
	}
	
	.about{
		.about-header{
			width: 100%;
			margin-top: 60px;
		}
		.about-item{
			display: none;
		}
		.slick-slider{
			width: 82%;
			margin: 0 auto;
			margin-bottom: 50px;
		}	
	}
	
	.latest{
		.latest-header{
			width: 100%;
			margin-top: 60px;
		}
		.latest-header-menu{
			width: 100%;
			padding: 0;
			margin-bottom: 35px;
			.latest-header-item{
				width: 100%;
				text-align: center;
				.latest-header-link{
					font-size: 20px;
					line-height: 35px;
				}
			}
		}

		.latest-gallery{
			margin-bottom: 0;
		}

		.latest-gallery-item{
			display: block;
			width: 100%;
			margin: 0 auto 20px;
			&:last-child{
				margin-bottom: 0;
			}			
		}
	}
	
	
	.touch{
		.touch-header{
			width: 100%;
			font-size: 25px;
			margin: 50px 0 90px;
		}
		.touch-btn{
			width: 70%;
			font-size: 19px;
			margin-bottom: 50px;
		}
	}

	.blog{
		display: none;		
	}

	.get{
		.get-header{
			width: 100%;
			margin-top: 60px;
		}
		.get-contact{
			width: 100%;
			margin-left: 0%;
			text-align: center;
			margin-bottom: 30px;
			.get-contact-item1,
			.get-contact-item2,
			.get-contact-item3{
				background-image: none;
			}
			.get-contact-item3{
				.get-item-info{
					margin: 0 auto;
					width: 60%;
				}
			}
			.get-item-header,
			.get-item-info{
				padding: 0;
			}
		}
		.get-form{
			width: 100%;
			padding: 0 2.5%;
			text-align: center;
			margin: 0 auto;
			.get-form-input{
				width: 100%;
			}
			.get-form-btn{
				display: block;
				width: 70%;
				margin: 0 auto 35px;
				font-size: 19px;
				float: none;
			}
			.get-form-note{
				display: none;
			}
		}
	}

	.footer{
		.footer-contact{
			width: 57%;
			margin-top: 45px;
		}
		.footer-text{
			width: 100%;
			text-align: center;
			font-size: 13px;
			margin-bottom: 25px;
		}
	}
}