// @media screen and (min-width: 1200px){
	
// }

@media screen and (min-width: 992px) and (max-width: 1199px){
	.header-menu{
		padding: 0;
	}

	.header-wrap{
		width: 65%;
	}

	.about-header{
		width: 12%;
	}

	.slick-slider{
		width: 90%;
		margin: 0 auto;
	}

	.latest-header{
		width: 17%;
	}

	.latest-header-menu{
		padding-left: 0;
	}
	
	.touch{
		.touch-header{
			width: 55%;
		}
		.touch-btn{
			width: 20.42%;
		}
	}

	.blog{
		.blog-header{
			width: 25%;
		}

		.blog-item{
			.blog-item-head{
				margin-top: 8px;
			}
			.blog-item-text{
				width: 46%;
				margin-top: 30px;
			}
		}
	}

	.get{
		.get-header{
			width: 16%;
		}
	}

	.footer{
		.footer-contact{
			width: 20%;
		}
		.footer-text{
			width: 39%;
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 991px){
	.header-menu{
		padding: 0;
		width: 75%;
		.header-menu-item{
			margin-right: 5%;			
			&:last-child{
				margin-right: 0;
			}
			.header-menu-link{
				font-size: 15px;
			}
		}
	}

	.header-wrap{
		width: 81%;
		.header-title{
			margin-top: 185px;
		}
		.header-btn{
			margin-bottom: 100px;
		}
	}
	
	.services{
		.services-header{
			width: 15.5%;
		}
	}
	
	.about{
		.about-header{
			width: 15%;
		}
		.about-item{
			margin-bottom: 100px;
		}
		.slick-slider{
			width: 77%;
			margin: 0 auto;
			margin-bottom: 60px;
		}	
	}
	
	.latest{
		.latest-header{
			width: 22%;
		}
		.latest-header-menu{
			width: 55.15%;
			padding-left: 0;
		}
		.latest-gallery-item{
			margin-right: 2.21%;
			&:nth-child(3n){
				margin-right: 0;
			}
		}
	}
	
	
	.touch{
		.touch-header{
			width: 67%;
		}
		.touch-btn{
			width: 24.86%;
		}
	}

	.blog{
		display: none;		
	}

	.get{
		.get-header{
			width: 21%;
		}
	}

	.footer{
		.footer-contact{
			width: 26%;
		}
		.footer-text{
			width: 51%;
		}
	}
}

@media screen and (max-width: 768px){
	.header-menu{
		padding: 0;
		width: 75%;
		.header-menu-item{
			margin-right: 5%;			
			&:last-child{
				margin-right: 0;
			}
			.header-menu-link{
				font-size: 15px;
			}
		}
	}

	.header-wrap{
		width: 81%;
		.header-title{
			margin-top: 185px;
		}
		.header-btn{
			margin-bottom: 100px;
		}
	}
	
	.services{
		.services-header{
			width: 15.5%;
		}
	}
	
	.about{
		.about-header{
			width: 15%;
		}
		.about-item{
			margin-bottom: 100px;
		}
		.slick-slider{
			width: 77%;
			margin: 0 auto;
			margin-bottom: 60px;
		}	
	}
	
	.latest{
		.latest-header{
			width: 22%;
		}
		.latest-header-menu{
			width: 55.15%;
			padding-left: 0;
		}
		.latest-gallery-item{
			margin-right: 2.21%;
			&:nth-child(3n){
				margin-right: 0;
			}
		}
	}
	
	
	.touch{
		.touch-header{
			width: 67%;
		}
		.touch-btn{
			width: 24.86%;
		}
	}

	.blog{
		display: none;		
	}

	.get{
		.get-header{
			width: 21%;
		}
	}

	.footer{
		.footer-contact{
			width: 26%;
		}
		.footer-text{
			width: 51%;
		}
	}
}